<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="dishInstance[dish]" placeholder="dish">
    <input name="dishInstance[order]" placeholder="order">
    <input name="dishInstance[quantity]" placeholder="quantity">

    <button type="submit">Submit</button>
</form>