<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="dish" placeholder="dish">
    <input name="order" placeholder="order">
    <input name="quantity" placeholder="quantity">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
