<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <input name="name" placeholder="name">
    <input name="email" placeholder="email">
    <input name="phone" placeholder="phone">
    <input name="govIDNumber" placeholder="govIDNumber">
    <input name="salary" placeholder="salary">
    <!-- <input name="role" placeholder="role"> -->
    <select name="role" placeholder="role">
        <option value="Waiter">Waiter</option>
        <option value="Chef">Chef</option>
        <option value="Kitchen Manager">Kitchen Manager</option>
        <option value="Waiter Manager">Waiter Manager</option>
        <option value="Hall Manager">Hall Manager</option>
        <option value="Booking Manager">Booking Manager</option>
        <option value="Admin">Admin</option>
    </select>
    <!-- <input name="attendance" placeholder="attendance"> -->
    <select name="attendance" placeholder="attendance">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
    </select>

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
