<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="employee[username]" placeholder="username">
    <input name="employee[password]" placeholder="password">
    <input name="employee[name]" placeholder="name">
    <input name="employee[email]" placeholder="email">
    <input name="employee[phone]" placeholder="phone">
    <input name="employee[govIDNumber]" placeholder="govIDNumber">
    <input name="employee[salary]" placeholder="salary">
    <input name="employee[role]" placeholder="role">
    <input name="employee[attendance]" placeholder="attendance">

    <button type="submit">Submit</button>
</form>