<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <input name="name" placeholder="name">
    <input name="email" placeholder="email">
    <input name="phone" placeholder="phone">
    <input name="govIDNumber" placeholder="govIDNumber">
    <input name="salary" placeholder="salary">
    <input name="role" placeholder="role">
    <input name="attendance" placeholder="attendance">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
