<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="name" placeholder="name">
    <input name="capacity" placeholder="capacity">
    <input name="available" placeholder="available">
    <input name="location.x" placeholder="location.x">
    <input name="location.y" placeholder="location.y">
    <input name="location.z" placeholder="location.z">
    <input name="hall" placeholder="hall">
    <input name="waiter" placeholder="waiter">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
