<%- include ('./partials/header') %>
<h1>Home</h1>


<a href="/fooder/v1/employee">employee</a><br>
<a href="/fooder/v1/cook">cook</a><br>
<a href="/fooder/v1/waiter">waiter</a><br>
<a href="/fooder/v1/table">table</a><br>
<a href="/fooder/v1/tableInstance">tableInstance</a><br>
<a href="/fooder/v1/hall">hall</a><br>
<a href="/fooder/v1/restaurant">restaurant</a><br>
<a href="/fooder/v1/customer">customer</a><br>
<a href="/fooder/v1/booking">booking</a><br>
<a href="/fooder/v1/dish">dish</a><br>
<a href="/fooder/v1/dishInstance">dishInstance</a><br>
<a href="/fooder/v1/category">category</a><br>
<a href="/fooder/v1/order">order</a><br>
<a href="/fooder/v1/dine">dine</a><br>
<a href="/fooder/v1/bill">bill</a><br>
<a href="/fooder/v1/good">good</a><br>

<%- include ('./partials/footer') %>

