<% include partials/header %>

<h1>List of all the camps</h1>
<a href="/">Home</a>
<a href="/hotels/new">Add a new hotel</a>

<% hotels.forEach((hotel)=>{ %>
    <div>
        <h4>
            <%=hotel.name  %>
        </h4>
        <img src="<%= hotel.image %>" alt="">
    </div>
<% }) %>


<% include partials/footer %>