<h1>Index Page</h1>

<div class="blog">
        <% blogs.forEach((blog)=>{ %>
        <h3> 
            Title:<%= blog.title %>
        </h3>
        <img src="<%=blog.image %>" >
        <p> Body:<%= blog.body %> </p>
        <h4>Created At: <%= blog.created %> </h4>
        <% }) %>
</div>