<%- include ('../partials/header') %>
<h1><%= title %></h1>


<form action= "create" method="POST">
    <input name="name" placeholder="name">
    <input name="cook" placeholder="cook">
    <input name="dish" placeholder="dish">

    <button type="submit">Submit</button>
</form>
