<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="category[name]" placeholder="name">
    <input name="category[cook]" placeholder="cook">
    <input name="category[dish]" placeholder="dish">

    <button type="submit">Submit</button>
</form>