<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="tableInstance[table]" placeholder="table">
    <input name="tableInstance[booking]" placeholder="booking">
    <input name="tableInstance[isFree]" placeholder="isFree">

    <button type="submit">Submit</button>
</form>