<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="order[status]" placeholder="status">
    <input name="order[items]" placeholder="items">
    <input name="order[dine]" placeholder="dine">
    <input name="order[cancellationReqs]" placeholder="cancellationReqs">

    <button type="submit">Submit</button>
</form>