<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="dish[name]" placeholder="name">
    <input name="dish[description]" placeholder="description">
    <input name="dish[ingredients]" placeholder="ingredients">
    <input name="dish[goods]" placeholder="goods">
    <input name="dish[category]" placeholder="category">
    <input name="dish[goods]" placeholder="goods">
    <input name="dish[price]" placeholder="price">
    <input name="dish[isServing]" placeholder="isServing">
    <input name="dish[veg]" placeholder="veg">
    <input name="dish[eta]" placeholder="eta">

    <button type="submit">Submit</button>
</form>