<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="name" placeholder="name">
    <input name="description" placeholder="description">
    <input name="ingredients" placeholder="ingredients">
    <input name="goods" placeholder="goods">
    <input name="category" placeholder="category">
    <input name="goods" placeholder="goods">
    <input name="price" placeholder="price">
    <input name="isServing" placeholder="isServing">
    <input name="veg" placeholder="veg">
    <input name="eta" placeholder="eta">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
