<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="dine[orders]" placeholder="orders">
    <input name="dine[booking]" placeholder="booking">
    <input name="dine[bill]" placeholder="bill">
    <input name="dine[waiter]" placeholder="waiter">
    <input name="dine[customer]" placeholder="customer">
    <input name="dine[tableInstances]" placeholder="tableInstances">
    <input name="dine[status]" placeholder="status">
    <input name="dine[date]" placeholder="date">

    <button type="submit">Submit</button>
</form>