<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="hall[name]" placeholder="name">
    <input name="hall[activePlanID]" placeholder="activePlanID">
    <input name="hall[halls]" placeholder="halls">
    <input name="hall[phone]" placeholder="phone">
    <input name="hall[address]" placeholder="address">

    <button type="submit">Submit</button>
</form>