<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="waiter[employee]" placeholder="employee">
    <input name="waiter[name]" placeholder="name">
    <input name="waiter[tables]" placeholder="tables">
    <input name="waiter[attendance]" placeholder="attendance">

    <button type="submit">Submit</button>
</form>