<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="booking[customer]" placeholder="customer">
    <input name="booking[dine]" placeholder="dine">
    <input name="booking[tableInstance]" placeholder="tableInstance">
    <input name="booking[checkInTime]" placeholder="checkInTime">
    <input name="booking[stayingMinutes]" placeholder="stayingMinutes">

    <button type="submit">Submit</button>
</form>