<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <select name="isPaid" placeholder="isPaid">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <input name="dineAmount" placeholder="dineAmount">
    <input name="taxAmount" placeholder="taxAmount">
    <input name="serviceCharge" placeholder="serviceCharge">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>

