<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="customer[name]" placeholder="name">
    <input name="customer[email]" placeholder="email">
    <input name="customer[phone]" placeholder="phone">
    <input name="customer[bookings]" placeholder="bookings">

    <button type="submit">Submit</button>
</form>