<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="good[name]" placeholder="name">
    <input name="good[tables]" placeholder="tables">
    <input name="good[restaurant]" placeholder="restaurant">

    <button type="submit">Submit</button>
</form>