<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="hall[name]" placeholder="name">
    <input name="hall[tables]" placeholder="tables">
    <input name="hall[restaurant]" placeholder="restaurant">

    <button type="submit">Submit</button>
</form>