<h1><%= title %></h1>

<% cooks.forEach((cook)=>{ %>
    <h2><%= cook.name %></h2>
    <h2><%= cook.attendance %></h2>
    <% cook.category.forEach((category)=>{ %>
        <h2><%= category.name %></h2>
    <% }) %>
<% }) %>