<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="good[name]" placeholder="name">
    <input name="good[linkToPurchase]" placeholder="linkToPurchase">
    <input name="good[threshold]" placeholder="threshold">
    <input name="good[defaultPurchase]" placeholder="defaultPurchase">
    <input name="good[quantityInStock]" placeholder="quantityInStock">

    <button type="submit">Submit</button>
</form>